{% extends 'base.html' %}

{% block title %} {{album.title}} {% endblock %}
{% block content %}
<div class="mt-2 text-center">
  <h1>{{album.title}}</h1>
  <h2>{{album.content}}</h2>

  <div class="container">
    {% for item in photos %}
    <div class="row">
      <div class="col">
<!--        Column-->
      </div>
      <div class="col" >

        <div class="media mt-2" >
          <img src="{{item.photo.url}}" style="width: 70rem;">
        </div>

      </div>
      <div class="col">
<!--        Column-->
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
